## Importing Pandas

In [ ]:
#!pip install pandas
import pandas as pd

# Data Types
* Series
* DataFrame

In [ ]:
SimpleList = ['a','b','c','d','e','f']
Series1 = pd.Series(SimpleList)
Series1

In [ ]:
series = pd.Series({'x': 0, 'y': 1, 'z': 2})
series

In [ ]:
pd.DataFrame(Series1)

In [ ]:
data = [['John', 56], ['Johnny', 21], ['Joe', 54]]

pd.DataFrame(data, columns=['Name', 'Age'])

In [ ]:
data[0][0]

In [ ]:
first_df = pd.DataFrame({
    'name': ['Jane', 'John', 'Joshua'],
    'age': [15, 25, 25]})


second_df = pd.DataFrame({
    'name': ['Jane', 'John', 'Jacob'],
    'weight': [128, 118, 120]})

third_df = pd.DataFrame({
    'name': ['zJean', 'yJenny', 'xJessie'],
    'age': [17, 28, 30]})

In [ ]:
first_df

In [ ]:
second_df

In [ ]:
third_df

In [ ]:
pd.merge(first_df, second_df, left_on='name', right_on='name', how='right')

In [ ]:
## Importing a dataset 
cars = pd.read_csv("mtcars2.csv")
cars.head()

In [ ]:
cars.info()

In [ ]:
print(cars.count())

In [ ]:
cars.describe()

In [ ]:
cars.shape

In [ ]:
cars.mean()

In [ ]:
cars.median()

In [ ]:
cars.std()

In [ ]:
cars.min()

In [ ]:
cars.max()

In [ ]:
## Clean the data 

cars.rename(columns={'model':'NEW_model','mpg':'NEW_mpg'})

In [ ]:
cars.qsec.median()

In [ ]:
cars.fillna(cars.qsec.median())

In [ ]:
cars.drop(["vs","am"],axis=1)

In [ ]:
type(cars)

In [ ]:
# Find the mean of wt 
# Fill all NAN with mean of wt 
# Drop gear and cyl column

In [ ]:
cars.wt.mean()

In [ ]:
cars.fillna(cars.wt.mean())

In [ ]:
cars.drop(["cyl","gear"],axis=1)

In [ ]:
## Data Manipulation 
cars

In [ ]:
import numpy as np
cars.groupby(['cyl','model']).mean()

In [ ]:
cars.iloc[ : , : ]

In [ ]:
# 5th recod of 4th column
cars.iloc[0:5,4]

In [ ]:
# All rows of first column
cars.iloc[:,1]

In [ ]:
cars.head()

In [ ]:
## All records of MPG column 
cars.loc[:,"mpg"]

In [ ]:
## Records of mpg from 0 to 6 
cars.loc[:6,'mpg']

In [ ]:
## Firse 7 records of MPG to Qsec
cars.loc[:8,'mpg':'qsec']

In [ ]:
cars.head()

In [ ]:
# Setting values 
cars['am'] = 1
cars

In [ ]:
## Sort
cars.sort_values(by='cyl', ascending = False)

In [ ]:
cars.sort_values(by=['cyl','gear'],ascending= False)

In [ ]:
cars['cyl']>6

In [ ]:
## Filter 

cars[cars['cyl'] > 6]

In [ ]:
cars

In [ ]:
## Cars 0th row to 8th row using indexing 
cars[0:9]

In [ ]:
## Cars 0th row to 8th row & cyl,diap,hp,drat,wt columns only using indexing 
cars.loc[0:9,'cyl':'wt']

In [ ]:
## Cars 0th row to 8th row of cars and correspnding gears
cars.loc[0:9,['model','gear']]

In [ ]:
## Correspnding cyl & gears of Mazda & Variant
cars.model.isin(['Mazda RX4'])

In [ ]:
cars[cars.model.isin(['Mazda RX4'])]